.Panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  gap: 32px;
}
.errorImg {
  max-width: 40%;
}
.errorMessage {
  font-family: "bold";
  font-size: 1.5rem;
}
.returnBtn {
  text-decoration: none;
  background-color: orange;
  padding: 8px 40px;
  color: #0f172a;
  font-family: "bold";
  font-size: 1.5rem;
  border-radius: 4px;
  text-align: center;
}
.returnBtn:hover {
  transition: all 0.5s;
  background-color: rgb(255, 217, 47);
  padding: 8px 60px;
}
